body{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100h;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100h;
}

.header{
  width: 100%;
  text-align: center;
  background-color: #2f353a;
  
}

.title{
  text-align: left;
  width: 400px;
}

.header-container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.navbar{
  width: 700px;
  display:inline-flex;
  align-items: center;
  justify-content: space-around;
}

.navbar > a{
  font-size: 17px;
  font-weight: bold;
  color: #979a9d;
  text-decoration: none;
  margin: 5px;
  padding: 10px;
}



.navbar > a:visited{
  font-size: 17px;
  font-weight: bold;
  color: #979a9d;
  text-decoration: none;
}

.navbar > a:hover{
  font-size: 17px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 30px;
}

.search-bar{
  margin-right: 5px;
  height: 30px;
  width: 200px;
  display: flex;
  align-items: center;
  border: #2f353a solid 2px;
  background-color: #2b2a33;
  border-radius: 20px;
  padding: 5px;
}

.search-bar > *{
  margin: 10px;
  border: 0;
  height: 25px;
}

.search-button{
  margin: 5px;
  height: 20px;
  background-image: url("../assets/imgs/search-icon24.png");
  background-repeat: no-repeat;
  width: 20px;
}

.loginButton{
  background-color: #2b2a33;
  width: 100px;
  height: 40px;
  margin: 0;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton > img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.loginButton-clicked{
  background-color: lightblue;
  width: 100px;
  height: 40px;
  margin: 0;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton-clicked > img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.main-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.animeDIV{
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 1200px;
  height: 45px;
  background-color: #2b2a33;
  font-size: 25px;
  margin: 20px;
  border-bottom: 3px solid #01bcf3;
}

.footer{
  margin-top: 610px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f353a;
  height: 60px;
}

.lastepisodes-header{
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.today{
  color: white;
  background-color: #01bcf3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60px;
  border-radius: 20px;
  height: 30px;
}

.content{
  flex-grow: 1;
  width: 1100px;
  display: flex;
  flex-direction: row;
  height: 100%;

}

.right{
  width: 100%;
}

.left{
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 10px;
  height: 670px;
  width: 100%;
  margin-left: -40px;
  margin-right: 35px;
}
.left-content{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.emision > img{
  width: 20px;
  height: 20px;
}

.emision{
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.vidcontainer{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  
}



#hentai{
  color: #ff83f8;
}