.header{
    width: 100%;
    text-align: center;
    background-color: #2f353a;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  
  .title{
    text-align: left;
    width: 19rem;
  }
  
  .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar{
    margin-left: 2rem;
    width: 50rem;
    display:inline-flex;
    align-items: center;
    justify-content: space-around;
  }

  .navbar > a{
    font-size: 17px;
    font-weight: bold;
    color: #979a9d;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
  }
  
  
  
  .navbar > a:visited{
    font-size: 17px;
    font-weight: bold;
    color: #979a9d;
    text-decoration: none;
  }
  
  .navbar > a:hover{
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  .search-bar{
    margin-right: 5px;
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    border: #2f353a solid 2px;
    background-color: #2b2a33;
    border-radius: 20px;
    padding: 5px;
  }
  
  .search-bar > *{
    margin: 10px;
    border: 0;
    height: 25px;
  }
  
  .search-button{
    margin: 5px;
    height: 20px;
    background-image: url("../assets/imgs/search-icon24.png");
    background-repeat: no-repeat;
    width: 20px;
  }
  
  .loginButton{
    background-color: #2b2a33;
    width: 100px;
    height: 40px;
    margin: 0;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginButton > img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .loginButton-clicked{
    background-color: lightblue;
    width: 100px;
    height: 40px;
    margin: 0;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginButton-clicked > img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }